.list__body {
  margin: 25px;
  padding: 30px;
  color: #f3dfc1;
  background-color: #160f29;
  height: 92vh;
}

.list__header {
  font-family: "Berkshire Swash", cursive;
  font-size: 2rem;
  margin-bottom: 30px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Merienda", cursive;
  gap: 5px;
}

.list__info {
  font-family: "Merienda", cursive;
  font-size: 0.7rem;
  margin: 20px;
  text-align: center;
}

.list__divider {
  border: #f3dfc1 solid 1px;
}

.ApiList {
  font-family: "Merienda", cursive;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
}
