@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Caveat:wght@400;700&family=Merienda:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Berkshire Swash", cursive;
  background-color: #f3dfc1;
}

/* colors
#160F29 - darkblue
#246A73 - cyan dark
#368F8B - cyan
#F3DFC1 - sand light
#DDBEA8 - sand dark */
